---
import type { Email } from "../../../utils/types";

interface Props {
    data: Email;
}

const { data } = Astro.props;
---

<a href={`mailto:${data.email}`} class={`${data.type} block`}>
    <span class="i-ph-envelope"></span>
    <span class="ml-1 hover:underline">{data.email}</span>
</a>
