---
import type { Github } from "../../../utils/types";

interface Props {
    data: Github;
}

const { data } = Astro.props;
---

<a href={`https://github.com/${data.username}`} class={`${data.type} block`}>
    <span class="i-simple-icons-github"></span>
    <span class="ml-1 hover:underline">{data.name}</span>
</a>
