---
import type { GoogleScholar } from "../../../utils/types";

interface Props {
    data: GoogleScholar;
}

const { data } = Astro.props;
---

<a
    href={`https://scholar.google.com/citations?user=${data.id}`}
    class={`${data.type} block`}
>
    <span class="i-simple-icons-googlescholar"></span>
    <span class="ml-1 hover:underline">{data.name}</span>
</a>
