---
import type { Phone } from "../../../utils/types";

interface Props {
    data: Phone;
}

const { data } = Astro.props;
---

<a href={`tel:${data.number}`} class={`${data.type} block`}>
    <span class="i-ph-phone"></span>
    <span class="ml-1 hover:underline">{data.number}</span>
</a>
