---
import { md2html } from "../../../utils/cv";
import type { UnorderedList } from "../../../utils/types";

interface Props {
    data: UnorderedList;
}

const { data } = Astro.props;
const html = md2html(data.content || "");
---

<div class={`${data.type}`}>
    <h3 class="font-bold">{data.title}</h3>
    <div set:html={html} />
</div>
