---
import { md2html } from "../../../utils/cv";
import type { UnorderedListWithTime } from "../../../utils/types";

interface Props {
    data: UnorderedListWithTime;
}

const { data } = Astro.props;
const html = md2html(data.content || "");
---

<div class={`${data.type} mb-4`}>
    <div class="flex">
        <h3 class="font-bold leading-relaxed">{data.title}</h3>
        <span class="time ml-auto">{data.time}</span>
    </div>
    <div set:html={html} />
</div>
