---
import type { Contents } from "../../utils/types";
import Markdown from "./v0/Markdown.astro";
import UnorderedList from "./v0/UnorderedList.astro";
import UnorderedListWithTime from "./v0/UnorderedListWithTime.astro";

interface Props {
    data: Contents;
}

const { data } = Astro.props;
---

<div class="cv-info p-16 font-serif overflow-y-auto h-100vh">
    {
        data.map(({ title, content }) => (
            <section class="mb-8">
                <h2 class="font-display text-2xl font-bold leading-loose">
                    {title}
                </h2>
                {content.map((c) => {
                    switch (c.type) {
                        case "v0.markdown":
                            return <Markdown data={c} />;
                        case "v0.unordered-list":
                            return <UnorderedList data={c} />;
                        case "v0.unordered-list-with-time":
                            return <UnorderedListWithTime data={c} />;
                    }
                })}
            </section>
        ))
    }
</div>
